<div class="row">
    <div class="span4 offset1">
        <h3>{{eventData.name}}</h3>
        <div>
            <a href="{{eventData.link}}" class="thumbnail">
                <img src="{{eventData.logoSrc}}" />
            </a>
        </div>
        <h1></h1>
        
        <div>
            {{eventData.auxMessage}}
        </div>
        <br/>
        <div>
            <a href="{{eventData.link}}">Visit the event page for info, tips and more!</a><br/>
        </div>
        <br/>
        <div ng-controller="MenuCtrl">
            <h4>Jump to another pledge:</h4>
            <div ng-repeat="(code,event) in eventData" ng-show="event.active">
                <a href="#/{{code}}" >{{event.name}}</a>
            </div>
        </div>

    </div>
    <div class="span4" ng-show="hasPledged" >
        <h3>My Pledge</h3>
        <div>
            <p><strong>{{eventData.pledgeText}}</strong></p>
            <div ng-repeat="item in eventData.pledgeItems">
                &nbsp;<i class="icon-leaf"></i>&nbsp; {{item}}
            </div>
        </div>
        <br/>
        <div ng-controller="CountsCtrl">
            <h3>Pledge Counts</h3>
            <table class="table">
                <tr>
                    <th>Team</th>
                    <th># Pledges</th>
                    <th>% Pledged</th>
                </tr>
                <tr ng-repeat="(teamId,count) in counts">
                    <td>{{getTeamName(teamId)}}</td>
                    <td>{{count}}</td>
                    <td>{{getTeamPercent(teamId,count)}}%</td>
                </tr>
            </table>
            <small>Teams that do not have pledges yet are not displayed.</small>
        </div>
        <br/>
        <div ng-controller="RefCountsCtrl">
            <h4>You have referred {{count}} {{person}}.</h4>
            <div>
                Invite your friends to pledge and gain referrals!<br/>
                <input type="text" class="input-block-level" value="http://www.stanford.edu/group/glc/cgi-bin/redirect/?t={{refURL}}" />
            </div>
        </div>
    </div>

    <div class="span4" ng-hide="hasPledged">
        <h3>Take the Pledge</h3>
        <div id="pledgeText">
            <p><strong>{{eventData.pledgeText}}</strong></p>
            <div ng-repeat="item in eventData.pledgeItems">
                &nbsp;<input type="checkbox" />&nbsp;{{item}}
            </div>
        </div>
        <br/>

        <form name="pledgeForm" ng-submit="submit()">
            <table width="100%">
                <tr>
                    <td>Name:</td>
                    <td ng-hide="adminMode">
                        {{user.name}}&nbsp;&nbsp;<input type="checkbox" ng-model="user.private" /> anonymous
                    </td>
                    <td ng-show="adminMode">
                        <input type="text" class="input-block-level" ng-model="user.name" required />
                    </td>
                </tr>
                <tr ng-show="adminMode">
                    <td>SUNet ID:</td>
                    <td><input type="text" class="input-block-level" ng-model="user.sunetId" required /></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="email" class="input-block-level" ng-model="user.email" required /></td>
                </tr>
                <tr>
                    <td>Team:</td>
                    <td><select ng-model="user.teamId" ng-options="team.id as team.name for team in eventData.teamList" class="input-block-level" required></select></td>
                    <td><span class="error">&nbsp;{{teamError}}</span></td>
                </tr>
                <tr>
                    <td>Referrer:</td>
                    <td>
                        <!--<div class="input-append">-->
                            <input type="text" class="input-block-level" ng-model="user.referrer" placeholder="referrer's SUNet ID (optional)" />
                            <!--<a href="http://who.stanford.edu/stanford" class="btn" target="_blank">Lookup</a>
                        </div>-->
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Leave a message!<br/>
                        <textarea ng-model="user.comments" class="input-block-level" placeholder="(optional)"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-large btn-primary input-block-level" type="submit">Pledge!</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div ng-controller="UpdatesCtrl" class="span4">
        <h3>Updates</h3>
        <div class="alert alert-info" ng-repeat="pledge in recentPledges">
            <strong>{{pledge.name}}</strong> from <strong>{{getTeamName(pledge.teamId)}}</strong>
            <br/>took the pledge {{pledge.isoDateString | fromNow}}.
            <table ng-show="pledge.comments">
                <tr valign="top">
                    <td>
                        <i class="icon-bullhorn"></i>&nbsp;
                    </td>
                    <td>
                        <i>{{pledge.comments}}</i>
                    </td>
                </tr>
            </table>
        </div>
            
    </div>
</div>
<div class="container" ng-bind-html-unsafe="formResponse">
</div>
