<div class="container">
    <h1>GLC ePledge Events List</h1>
    <div class="row">
        <div class="span6">
            <div style="padding-top: 20px" ng-repeat="(code,event) in eventData" ng-show="event.active">
                <h4><a href="#/{{code}}">{{event.name}}</a></h3>
                <div>
                    <a href="#/{{code}}" class="thumbnail">
                        <img ng-src="{{event.logoSrc}}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
