<div class="container">

    <h1>Thanks for Pledging</h1>
    <div ng-bind-html-unsafe="message"></div>
    <div>
        Send the following link to friends to gain referrals!<br/>
        <input type="text" class="input-xxlarge" value="http://www.stanford.edu/group/glc/cgi-bin/redirect/?t={{refURL}}" />
    </div>
    <div>
        <a href="#/{{eventCode}}/counts">See the current standings.</a>
    </div>
    <div>
        <a href="#/{{eventCode}}/form">Go back to the pledge page.</a>
    </div>
</div>
